<div class="container blog-container">

  <h1 class="text-center blog-title">Big Rocket Blog</h1>

  <hr/>

  <% @posts.each do |post| %>

  <div class="row blog-post-container">
    <h2 class="text-center"><%= link_to "#{post.title}", blog_post_path(post.slug), class: "site-link" %></h2>
    <p class="text-center"><%= post.publishedDate.strftime("Posted on: %m/%d/%Y") %></p>

    <p><%= raw(post.intro) %> <span> <%= link_to "Read More", blog_post_path(post.slug), class: "site-link" %></span></p>

  </div>

  <hr/>

  <% end %>

  <%= paginate @posts %>
  <br />
  <%= page_entries_info @posts %>
  

</div>