<div class="container blog-container">
  <%= image_tag "/uploads/images/content_logo_hires.png", alt: "Big Rocket Games Logo", class: "main-logo" %>

  <hr />

  <div class="row blog-post-container">
    <h2 class="text-center red-text"><%= @post.title %></h2>

    <p><%= raw @post.body %></p>

    <hr />
  </div>

  <h2 class="text-center red-text">Comments:</h2>
  <hr />
  <% if flash[:alert] %>
    <div class="error-alert"><%= flash[:alert] %> </div>
  <% end %>
  <%= render "blog/comments/addCommentForm" %>
  <div id="comments">
    <%= render partial: "blog/comments/comment", collection: @post.comments, as: :comment %>
  </div>
