<% if flash[:success] %>
  <% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>"><%= value %></div>
  <% end %>
<% end %>

<h2><%= @post.title %></h2>

<p><%= raw @post.body %></p>

<% @post.comments.each do |comment| %>

  <p><%= comment.body %></p>

<% end %>