<%= simple_form_for @portfolio, url: admin_portfolio_index_path, method: :post do |f| %>
  <% if @portfolio.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@portfolio.errors.count, "error")} prohibited this portfolio item from being saved:" %>
      </h2>
      <ul>
        <% @portfolio.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :features, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :siteLink, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :sourceCodeLink, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :screenshot, as: 'file', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, 'Create Portfolio Site' %>
  </div>

<% end %>