<%= simple_form_for @contact, url: contact_index_path, method: :post do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@contact.errors.count, "error")} prohibited this form from being sent:" %>
      </h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :subject, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, "Send Contact" %>
  </div>

<% end %>