<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BigRocketGames</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main">
    <%= render "layouts/navigation/navbar" %>
    <%= yield %>
    <%= yield :game %>
  </body>

  <footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p>Big Rocket Games LLC Copyright &copy; 2015-2018.  All Rights Reserved.</p>
            </div>
        </div>
    </div>
  </footer>
</html>
