<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("/uploads/images/content_med_res.png", alt: "Big Rocket Games Logo", class: "navbar-brand"), home_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="home-link"><%= link_to 'Home', home_path %></li>
        <li class="blog-link"><%= link_to 'Blog', blog_home_path %></li>
        <li class="dropdown games-link">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="group-label"><%= link_to 'Mobile Games', games_mobile_games_path %></li>
            <li role="separator" class="divider"></li>
            <li class="rm-game-link"><a href="/games/mobile_games/rocket-math">RocketMath</a></li>
            <li class="sd-game-link"><a href="/games/mobile_games/starbase-defender">Starbase Defender</a></li>
            <li role="separator" class="divider"></li>
            <li class="group-label"><%= link_to 'Browser Games', games_browser_games_path %></li>
            <li role="separator" class="divider"></li>
            <% BrowserGame.all.order(:title).each do |bgame| %>
            <li class="<%= bgame.linkClass %>"><%= link_to "#{bgame.title}", games_browser_game_path(bgame.slug) %></li>
            <% end %>
          </ul>
        </li>
        <li class="portfolio-link"><%= link_to 'Portfolio', portfolio_index_path %></li>
        <li class="about-link"><%= link_to 'About', about_path %></li>
        <li class="contact-link"><%= link_to 'Contact Us', contact_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>